@{
    ViewData["Title"] = "Home Page";
}

@model Projeto_Ecomerce_Biblioteca.Entidade.Amigo

<div class="text-center">
    <h1 class="display-4">Welcome Back</h1>
    <p>@Model.NomeCompleto</p>
    <p>@Model.Sobrenome</p>
    <p>@Model.Idade</p>
    <p>@Model.DataNascimento</p>

</div>
